In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
pd.set_option('display.max_columns',None)
df_1 =pd.read_csv('./30day/0701.csv')

In [7]:
df_1.head()

,user_id,mgame_id,cp_server_no,cp_role_id,role_data_type,role_id,channel_id,source_id,game_id,media_id,create_role_date,create_role_time,role_created_login_num,role_created_login_ip_num,role_created_active,max_role_level,active_0_8,active_8_12,active_12_14,active_14_18,active_18_24,role_created_online,pay_num,pay_sum,pay_avg,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,dt
0,23337,1056,660933,18323164,6,152252289,20754,321941,1001049,10,2020-06-25,2020-06-25 13:24:34,1,1,1,6,0,0,2,0,0,300,0,0.0,0.0,0,0,0,0,0,0,0.0,2020-07-1-23:59:59
1,29271,1056,660953,18493561,1,152645577,20754,322387,1000840,10,2020-06-30,2020-06-30 18:03:20,1,1,1,2,0,0,0,3,0,78,0,0.0,0.0,0,0,0,0,0,0,0.0,2020-07-1-23:59:59
2,52373,1056,660937,18376005,5,152379566,20754,321941,1001049,10,2020-06-26,2020-06-26 15:59:30,1,1,1,1,0,0,0,2,0,18,0,0.0,0.0,0,0,0,0,0,0,0.0,2020-07-1-23:59:59
3,56904,1056,660953,18495205,1,152649276,20754,322682,1001049,10,2020-06-30,2020-06-30 19:16:25,1,1,1,5,0,0,0,0,2,213,0,0.0,0.0,0,0,0,0,0,0,0.0,2020-07-1-23:59:59
4,67399,1056,660951,18484215,1,152625557,20953,322796,1000840,10,2020-06-30,2020-06-30 14:05:25,2,1,1,5,0,0,4,0,0,222,0,0.0,0.0,0,0,0,0,0,0,0.0,2020-07-1-23:59:59

In [8]:
df_2 = pd.read_csv('./predict_test.csv')

In [9]:
df_2.head()

,user_id,mgame_id,cp_server_no,cp_role_id,role_data_type,up_time,add_time,role_id,channel_id,media_id,game_id,source_id,create_role_time,create_role_date,role_created_login_num,role_created_login_ip_num,role_created_active,max_role_level,active_0_8,active_8_12,active_12_14,active_14_18,active_18_24,role_created_online,pay_num,pay_sum,pay_avg,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,user_id.1,channel_id.1,source_id.1,mgame_id.1,cp_server_no.1,role_id.1,cp_role_id.1,role_data_type.1,game_id.1,media_id.1,create_role_time.1,create_role_date.1,role_type,predict_30_pay,add_time.1,up_time.1,source_run_date_amount
0,179998,1056,661057,19143323,5,2020-9-5 11:58:47,2020-9-5 11:58:47,154753584,639,0,1001295,576,2020-7-25 21:15:14,2020-07-25,1,1,1,1,0,0,0,0,1,0,0,0,0.0,0,0,0,0,0,0,0.0,179998,639,576,1056,661057,NaN,19143323,5,1001295,0,2020-7-25 21:15:14,2020-7-25 00:00:00,0,0.0,2020-9-5 12:04:44,2020-9-5 12:04:44,NaN
1,283516,1056,661054,19125592,5,2020-9-5 11:58:47,2020-9-5 11:58:47,154703235,639,0,1000840,576,2020-7-25 10:53:18,2020-07-25,1,1,1,1,0,1,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0.0,283516,639,576,1056,661054,NaN,19125592,5,1000840,0,2020-7-25 10:53:18,2020-7-25 00:00:00,0,0.0,2020-9-5 12:04:44,2020-9-5 12:04:44,NaN
2,288874,1056,661073,19234822,1,2020-9-5 11:58:47,2020-9-5 11:58:47,154992356,6770,32,1001295,336443,2020-7-29 17:52:14,2020-07-29,1,1,1,2,0,0,0,3,0,106,0,0,0.0,0,0,0,0,0,0,0.0,288874,6770,336443,1056,661073,NaN,19234822,1,1001295,32,2020-7-29 17:52:14,2020-7-29 00:00:00,0,0.0,2020-9-5 12:03:36,2020-9-5 12:03:36,NaN
3,310041,1056,661053,19117094,6,2020-9-5 11:58:47,2020-9-5 11:58:47,154679189,6867,16,1000960,332105,2020-7-24 21:58:12,2020-07-24,1,1,1,1,0,0,0,0,1,0,0,0,0.0,0,0,0,0,0,0,0.0,310041,6867,332105,1056,661053,NaN,19117094,6,1000960,16,2020-7-24 21:58:12,2020-7-24 00:00:00,0,0.0,2020-9-5 12:04:59,2020-9-5 12:04:59,NaN
4,312369,1056,661047,19073365,7,2020-9-5 11:58:47,2020-9-5 11:58:47,154545283,21116,10,1000840,325666,2020-7-23 10:07:06,2020-07-23,1,1,1,1,0,2,0,0,0,4,0,0,0.0,0,0,0,0,0,0,0.0,312369,21116,325666,1056,661047,NaN,19073365,7,1000840,10,2020-7-23 10:07:06,2020-7-23 00:00:00,0,0.0,2020-9-5 12:05:16,2020-9-5 12:05:16,NaN

In [13]:
df_3 = df_2[['user_id','cp_server_no','cp_role_id','role_data_type','role_id','create_role_time','role_created_login_num',
           'role_created_active', 'role_created_online',
           'max_role_level', 'role_created_login_ip_num',
           'pay_num', 'pay_sum', 'active_0_8', 'active_8_12', 'active_12_14',
           'active_14_18', 'active_18_24', 'pay_grade_1', 'pay_grade_2',
           'pay_grade_3', 'pay_grade_4', 'pay_grade_5', 'pay_grade_6',
           'pay_rate', 'pay_avg','predict_30_pay']]

In [15]:
df_3 = df_3[df_3['role_data_type']==3]

In [16]:
df_3.head()

,user_id,cp_server_no,cp_role_id,role_data_type,role_id,create_role_time,role_created_login_num,role_created_active,role_created_online,max_role_level,role_created_login_ip_num,pay_num,pay_sum,active_0_8,active_8_12,active_12_14,active_14_18,active_18_24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,predict_30_pay
11,502366,661066,19189747,3,154889546,2020-7-27 21:54:03,1,1,8,1,1,0,0,0,0,0,0,2,0,0,0,0,0,0,0.0,0.0,0.0
12,571918,661064,19178404,3,154861155,2020-7-27 13:55:32,1,1,327,6,1,0,0,0,0,3,0,0,0,0,0,0,0,0,0.0,0.0,0.0
19,974709,661067,19192247,3,154896164,2020-7-27 23:35:19,2,2,5812,34,1,0,0,0,0,0,0,19,0,0,0,0,0,0,0.0,0.0,0.0
24,1119107,661066,19186996,3,154881935,2020-7-27 20:14:18,1,1,217,5,1,0,0,0,0,0,0,2,0,0,0,0,0,0,0.0,0.0,0.0
25,1146580,661065,19179083,3,154862954,2020-7-27 14:19:33,2,1,7916,6,1,0,0,0,0,7,12,0,0,0,0,0,0,0,0.0,0.0,0.0

In [17]:
df_3.sort_values('predict_30_pay',ascending=False)

,user_id,cp_server_no,cp_role_id,role_data_type,role_id,create_role_time,role_created_login_num,role_created_active,role_created_online,max_role_level,role_created_login_ip_num,pay_num,pay_sum,active_0_8,active_8_12,active_12_14,active_14_18,active_18_24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,predict_30_pay
130786,118374680,661067,19190541,3,154891792,2020-7-27 22:28:21,60,4,162527,64,13,26,4400,152,155,62,110,138,1,5,7,7,3,3,6.50,169.23,24771.58
18007,118003145,661064,19075546,3,154849908,2020-7-27 10:56:20,75,4,132726,64,39,29,3660,138,76,60,121,122,1,13,8,3,1,3,7.25,126.21,17742.52
121322,118344172,661065,19180766,3,154867354,2020-7-27 15:48:40,20,4,63370,62,9,26,5180,57,54,23,59,46,0,10,7,1,1,7,6.50,199.23,16476.80
120783,118342555,661065,19180215,3,154865950,2020-7-27 15:18:50,35,4,122025,63,2,20,3096,156,120,22,95,38,0,7,7,2,1,3,5.00,154.80,13648.59
120679,118342249,S1065,19182921,3,13942420,2020-7-27 17:18:49,137,4,157221,63,2,17,2118,74,96,45,130,149,1,5,5,4,1,1,4.25,124.59,11669.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118211,118334161,S1064,19177671,3,13940084,2020-7-27 13:30:20,3,1,0,1,1,0,0,0,0,3,0,0,0,0,0,0,0,0,0.00,0.00,0.00
118210,118334157,661064,19177611,3,154858686,2020-7-27 13:28:21,1,1,41,1,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0.00,0.00,0.00
118208,118334147,661064,19177608,3,154858676,2020-7-27 13:28:12,1,1,838,11,1,0,0,0,0,4,0,0,0,0,0,0,0,0,0.00,0.00,0.00
118207,118334144,661064,19177606,3,154858672,2020-7-27 13:28:10,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0.00,0.00,0.00
132780,118380501,S1067,19192599,3,13947816,2020-7-27 23:59:47,6,2,2,7,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0.00,0.00,0.00

In [20]:
import joblib
import numpy as np

In [22]:
# 模型加载
lgb_r_3d = joblib.load('./lgb_r_3d.pkl')
,
df_3['predict_30_pay_test'] = np.expm1(lgb_r_3d.predict(df_3.drop(['user_id','cp_server_no','predict_30_pay','role_data_type','role_id','create_role_time'
                                                            ,'cp_role_id'],axis=1)))*1.54

In [25]:
df_3[df_3['pay_sum']!=0]

,user_id,cp_server_no,cp_role_id,role_data_type,role_id,create_role_time,role_created_login_num,role_created_active,role_created_online,max_role_level,role_created_login_ip_num,pay_num,pay_sum,active_0_8,active_8_12,active_12_14,active_14_18,active_18_24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,predict_30_pay,predict_30_pay_test
245,4776148,661066,19063053,3,154876370,2020-7-27 18:36:49,71,4,76439,59,3,1,12,55,88,24,87,64,0,1,0,0,0,0,0.25,12.00,90.00,89.999848
481,8571385,661064,19177513,3,154858364,2020-7-27 13:25:25,39,4,68406,54,6,3,66,28,70,57,63,60,1,2,0,0,0,0,0.75,22.00,270.09,270.090703
867,14798491,661066,19186329,3,154880328,2020-7-27 19:48:19,25,4,58721,56,7,1,12,4,79,90,49,73,0,1,0,0,0,0,0.25,12.00,68.73,68.728272
942,50255098,661067,19191967,3,154895469,2020-7-27 23:20:15,22,4,100691,57,8,7,226,131,78,10,43,67,1,4,2,0,0,0,1.75,32.29,862.95,862.946236
1413,55104128,661065,19180162,3,154865781,2020-7-27 15:15:52,20,4,89289,62,9,7,374,83,12,22,105,60,0,3,4,0,0,0,1.75,53.43,1199.46,1199.458416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132518,118379749,661067,19192331,3,154896339,2020-7-27 23:40:06,6,2,17276,35,3,1,12,42,7,0,0,9,0,1,0,0,0,0,0.50,12.00,41.76,41.759374
132618,118380060,S1067,19192454,3,13947710,2020-7-27 23:48:41,101,4,75876,60,6,1,128,39,46,17,36,94,0,0,0,1,0,0,0.25,128.00,450.90,450.897967
132622,118380071,S1067,19192460,3,13947718,2020-7-27 23:48:57,17,2,602,15,1,1,98,0,0,0,0,9,0,0,1,0,0,0,0.50,98.00,151.76,151.756369
132743,118380408,661067,19192568,3,154896945,2020-7-27 23:56:53,8,3,9704,46,6,2,60,15,4,6,6,9,0,2,0,0,0,0,0.67,30.00,140.67,140.673251
132759,118380444,S1067,19192582,3,13947802,2020-7-27 23:57:54,42,4,17196,48,16,1,12,48,3,0,0,17,0,1,0,0,0,0,0.25,12.00,55.81,55.808396