In [1]:
import pandas as pd
import numpy as np

In [8]:
source_info = pd.read_csv('./source_info.csv')

In [9]:
pd.set_option('display.max_columns', None)
source_info.head()

,tdate,channel_id,source_id,amount,paper_use_amount,click_num,down_num,pv,create_role_num
0,2020-1-2 00:00:00,6770,187935,0.0,0.0,0,0,0,0
1,2020-1-2 00:00:00,6770,188542,0.0,0.0,0,0,0,0
2,2020-1-2 00:00:00,6770,188577,0.0,0.0,0,0,0,0
3,2020-1-2 00:00:00,6770,188596,0.0,0.0,0,0,0,0
4,2020-1-2 00:00:00,6770,188899,0.0,0.0,0,0,0,0

In [10]:
source_info.shape

(319759, 9)

In [11]:
groups = source_info.groupby(['channel_id','source_id'])

In [12]:
groups.ngroups

22369

In [13]:
source_info['amount'].value_counts()

0.00       247792
2000.00       193
0.01          189
3000.00       172
2830.19       151
            ...
2008.80         1
293.63          1
878.96          1
881.04          1
792.52          1
Name: amount, Length: 53808, dtype: int64

In [14]:
source_info['amount'].sum()

175370760.33

In [15]:
source_info_notna = source_info[source_info['amount'] != 0]

In [16]:
source_info_notna.shape

(71967, 9)

In [17]:
groups_notna = source_info_notna.groupby(['channel_id','source_id'])
groups_notna.ngroups

20448

In [21]:
source_info_notna = source_info_notna.set_index(['channel_id','source_id','tdate'],drop=False)

In [22]:
source_info_notna.head()

                                                    tdate  channel_id  \
channel_id source_id tdate
6867       251792    2020-1-2 00:00:00  2020-1-2 00:00:00        6867
7162       226304    2020-1-2 00:00:00  2020-1-2 00:00:00        7162
           226305    2020-1-2 00:00:00  2020-1-2 00:00:00        7162
           229097    2020-1-2 00:00:00  2020-1-2 00:00:00        7162
           229099    2020-1-2 00:00:00  2020-1-2 00:00:00        7162

                                        source_id   amount  paper_use_amount  \
channel_id source_id tdate
6867       251792    2020-1-2 00:00:00     251792   955.05            955.05
7162       226304    2020-1-2 00:00:00     226304    19.54             23.45
           226305    2020-1-2 00:00:00     226305   182.10            218.52
           229097    2020-1-2 00:00:00     229097  1502.04           1802.45
           229099    2020-1-2 00:00:00     229099    64.24             77.09

                                        click_num  down_num     pv  \
channel_id source_id tdate
6867       251792    2020-1-2 00:00:00        267        71  25852
7162       226304    2020-1-2 00:00:00        124         1   1967
           226305    2020-1-2 00:00:00        627        10   5299
           229097    2020-1-2 00:00:00       5088        61  54977
           229099    2020-1-2 00:00:00        370         3   4357

                                        create_role_num
channel_id source_id tdate
6867       251792    2020-1-2 00:00:00               65
7162       226304    2020-1-2 00:00:00                1
           226305    2020-1-2 00:00:00                9
           229097    2020-1-2 00:00:00               61
           229099    2020-1-2 00:00:00                3

In [24]:
source_info_notna.sort_index().loc[7162,226304]

,tdate,channel_id,source_id,amount,paper_use_amount,click_num,down_num,pv,create_role_num
tdate,,,,,,,,,
2020-1-13 00:00:00,2020-1-13 00:00:00,7162,226304,416.56,499.87,3743,14,28863,14
2020-1-14 00:00:00,2020-1-14 00:00:00,7162,226304,0.02,0.02,1,1,10,1
2020-1-15 00:00:00,2020-1-15 00:00:00,7162,226304,17.99,21.59,3,1,76,1
2020-1-16 00:00:00,2020-1-16 00:00:00,7162,226304,0.58,0.69,0,0,13,0
2020-1-17 00:00:00,2020-1-17 00:00:00,7162,226304,8.69,10.42,4,1,67,1
2020-1-18 00:00:00,2020-1-18 00:00:00,7162,226304,2.69,3.23,1,1,87,0
2020-1-19 00:00:00,2020-1-19 00:00:00,7162,226304,37.67,45.20,1,1,59,1
2020-1-2 00:00:00,2020-1-2 00:00:00,7162,226304,19.54,23.45,124,1,1967,1
2020-1-20 00:00:00,2020-1-20 00:00:00,7162,226304,4.67,5.60,6,1,107,1
2020-1-21 00:00:00,2020-1-21 00:00:00,7162,226304,6.37,7.65,22,0,354,0
2020-1-22 00:00:00,2020-1-22 00:00:00,7162,226304,12.40,14.88,10,1,207,1
2020-1-23 00:00:00,2020-1-23 00:00:00,7162,226304,18.21,21.86,8,0,168,0
2020-1-24 00:00:00,2020-1-24 00:00:00,7162,226304,1.83,2.19,26,0,491,0
2020-1-25 00:00:00,2020-1-25 00:00:00,7162,226304,7.65,9.18,6,0,116,0
2020-1-26 00:00:00,2020-1-26 00:00:00,7162,226304,0.76,0.91,8,1,149,1
2020-1-27 00:00:00,2020-1-27 00:00:00,7162,226304,0.12,0.14,2,0,116,0
2020-1-28 00:00:00,2020-1-28 00:00:00,7162,226304,0.45,0.55,7,0,75,0
2020-1-29 00:00:00,2020-1-29 00:00:00,7162,226304,0.38,0.46,7,0,78,0
2020-1-30 00:00:00,2020-1-30 00:00:00,7162,226304,0.43,0.51,5,0,63,0
2020-1-6 00:00:00,2020-1-6 00:00:00,7162,226304,225.90,271.08,1395,4,11411,3
2020-1-7 00:00:00,2020-1-7 00:00:00,7162,226304,0.15,0.18,2,0,11,0
2020-2-1 00:00:00,2020-2-1 00:00:00,7162,226304,0.03,0.04,1,0,40,0
2020-2-2 00:00:00,2020-2-2 00:00:00,7162,226304,0.05,0.06,1,0,19,0
2020-2-3 00:00:00,2020-2-3 00:00:00,7162,226304,0.05,0.06,1,0,17,0