In [52]:
import pandas as pd
import numpy as np

In [53]:
product_order = pd.read_csv('./product_order.csv')
product_order_ios = pd.read_csv('./ios_product_order.csv')
product_order.drop(['Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34'], axis=1, inplace=True)
product_order_ios.drop(['Unnamed: 29', 'Unnamed: 30'], axis=1, inplace=True)

C:\Users\Administrator\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (29,30,31,32,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Administrator\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
# 对product_order的columns进行重命名
new_col_list = []
for col in product_order.columns:
    new_col = col[18:]
    new_col_list.append(new_col)
product_order.columns = new_col_list

In [55]:
# 对product_order的columns进行重命名
new_col_list = []
for col in product_order_ios.columns:
    new_col = col[22:]
    new_col_list.append(new_col)
product_order_ios.columns = new_col_list

In [56]:
product_order['isios'] = 0
product_order_ios['isios'] = 1

In [57]:
print(len(product_order))
print(len(product_order_ios))

886720
634218

In [58]:
# 合并product_order与product_order_ios
product_order_all = pd.concat([product_order, product_order_ios])
print(len(product_order_all))
print(product_order_all.columns)

1520938
Index(['order_no', 'game_id', 'channel_id', 'source_id', 'server_id',
       'role_id', 'user_id', 'pay_type', 'money', 'give_money', 'rmb_money',
       'ch_money', 'coupon_money', 'coupon_code', 'coupon_type', 'd_discount',
       'd_money', 's_discount', 's_money', 'pay_count', 'role_pay_count',
       'role_level', 'device_no', 'status', 'pay_time', 'post_time',
       'active_pay_count', 'role_name', 'dt', 'isios'],
      dtype='object')

In [59]:
product_order_all.head()

,order_no,game_id,channel_id,source_id,server_id,role_id,user_id,pay_type,money,give_money,...,role_pay_count,role_level,device_no,status,pay_time,post_time,active_pay_count,role_name,dt,isios
0,CH2019090900023892943523287,1000840,6770,203754,3243980,133774079,92943523,25,12,0,...,2,27,7714D6F6BBB3D0610816FA2B08F56551,3,2019/9/9 0:02,2019/9/9 0:02,2,天仙小财迷,2019/9/9,0
1,CH2019090900062589532024639,1000840,20540,198603,1025021,130322937,89532024,25,68,0,...,14,99,B94AF34524B97005D87E8F071693B2C8,3,2019/9/9 0:06,2019/9/9 0:06,14,凯撒大帝,2019/9/9,0
2,CH2019090900095489532024721,1000840,20540,198603,1025021,130322937,89532024,25,68,0,...,15,99,B94AF34524B97005D87E8F071693B2C8,3,2019/9/9 0:10,2019/9/9 0:10,15,凯撒大帝,2019/9/9,0
3,CH2019090900110689532024628,1000840,20540,198603,1025021,130322937,89532024,25,68,0,...,16,99,B94AF34524B97005D87E8F071693B2C8,3,2019/9/9 0:11,2019/9/9 0:11,16,凯撒大帝,2019/9/9,0
4,CH2019090900113588068955838,1000840,6770,187935,1024121,128850241,88068955,25,98,0,...,13,108,11B7584E2F3BCC5A9E8135EC1FF28B9A,3,2019/9/9 0:12,2019/9/9 0:12,13,卢卡斯虎爸,2019/9/9,0

In [60]:
for fea in product_order_all.columns:
    print(fea)
    print(product_order_all[fea].value_counts())

order_no
H20200306004651355101242104938    1
CH2019112700194794316577641       1
Y20191031160542EL43M62H           1
CH20200418213957108063082393      1
CH20200304200038102921968273      1
                                 ..
CH2020031805232754233068383       1
Y20200205041723IYEZDT1J           1
CH2019112313143598300639460       1
H2020010514490597458148412219     1
Y20191101203220IN2D9E6Q           1
Name: order_no, Length: 1520938, dtype: int64
game_id
1000840    544767
1000954    493920
1000862    146458
1000993    138897
1001079     63708
1001049     54737
1000947     32063
1000935     27873
1000960     13258
1000869      3691
1000992      1392
1001063       165
1001059         7
1000994         2
Name: game_id, dtype: int64
channel_id
20144    172284
6867     165355
20754    157713
6770     142122
20021    121370
7162      99929
20143     94748
20541     91818
20540     89125
20635     47877
20755     45871
20451     42208
20953     37315
20545     29649
639       29067
20176     25271
20954     24493
20546     22429
20646     14335
20647     13102
20756     10100
20452      9521
20636      9183
20570      7952
20668      7479
20542      4197
20543      2544
21116      1010
20757       981
21087       685
20571       603
21075       372
20419       188
19           42
Name: channel_id, dtype: int64
source_id
22791     121370
250625     41396
250080     34086
270722     30718
199726     22829
           ...
263775         1
310856         1
271962         1
197999         1
309635         1
Name: source_id, Length: 7971, dtype: int64
server_id
26388      3840
3262489    3534
3261377    3454
25803      3420
22444      3395
           ...
3263630       1
3266029       1
3257473       1
3271297       1
3258365       1
Name: server_id, Length: 5567, dtype: int64
role_id
10072297     1865
10953716     1676
10106322     1246
133140009    1118
10976235     1116
             ...
140703591       1
132493196       1
139242727       1
10805154        1
138140027       1
Name: role_id, Length: 153559, dtype: int64
user_id
97172692     1865
101144928    1676
97335848     1301
92333082     1118
101242104    1117
             ...
107826526       1
96178461        1
110809397       1
112053582       1
110989900       1
Name: user_id, Length: 138426, dtype: int64
pay_type
27     710452
2      462253
100    246085
99      64491
25      33748
20       1667
22        733
0         698
24        479
88        315
29         17
Name: pay_type, dtype: int64
money
30     465312
68     348795
12     155277
648    137304
128    104009
198     89618
98      66610
6       54185
448     52213
328     47610
1           5
Name: money, dtype: int64
give_money
0     1520443
30        364
12         55
6          46
68         20
98          8
5           1
2           1
Name: give_money, dtype: int64
rmb_money
30.0     449076
68.0     336190
12.0     152843
648.0    108910
128.0     98417
          ...
350.0         1
8.4           1
324.0         1
224.0         1
22.5          1
Name: rmb_money, Length: 214, dtype: int64
ch_money
0      1519289
30         548
68         292
12         216
6          126
648        101
198         95
98          95
128         94
448         44
328         34
1            2
66           1
63           1
Name: ch_money, dtype: int64
coupon_money
0.00      1430413
105.00      10397
2.00         8868
3.00         7509
30.00        5188
           ...
25.92           1
51.20           1
0.48            1
112.00          1
103.00          1
Name: coupon_money, Length: 104, dtype: int64
coupon_code
0                   246085
YHQ6397400496640         2
YHQ7432700004249         2
YHQ6397400456546         2
YHQ4703480007749         1
                     ...
YHQ5772870055080         1
YHQ6397400288960         1
YHQ5948780005849         1
YHQ6397400494935         1
YHQ3480660001158         1
Name: coupon_code, Length: 90523, dtype: int64
coupon_type
0    1430413
1      53757
2      36768
Name: coupon_type, dtype: int64
d_discount
0    1520938
Name: d_discount, dtype: int64
d_money
0    1520938
Name: d_money, dtype: int64
s_discount
0    1520938
Name: s_discount, dtype: int64
s_money
0    1520938
Name: s_money, dtype: int64
pay_count
1       136904
2        94675
3        78778
4        67866
5        59630
         ...
1752         1
1753         1
1754         1
1755         1
1769         1
Name: pay_count, Length: 1864, dtype: int64
role_pay_count
1       153915
2       103710
3        85700
4        72816
5        63568
         ...
1686         1
1775         1
1729         1
1776         1
1716         1
Name: role_pay_count, Length: 1864, dtype: int64
role_level
0      331401
1      211568
24      18218
32      14095
63      13393
        ...
287         6
283         4
288         3
285         2
291         1
Name: role_level, Length: 292, dtype: int64
device_no
76007257-1C08-4876-AB68-1DD9BD0FE9EC    1865
ABBD46D2-28CB-40A7-8746-1675D7454860    1676
0F78409C-DCA6-4EFE-88DF-2FBA74521CEE    1301
2ECF38BA90B138957D12790E12A47C1F        1155
D43B19E72199F916C9AD7942B00254A2        1080
                                        ...
9C6CCD7BF00CB20AAE02603F97DF90B9           1
1D60AE1A6AC1689C7FC7D8F86557DE81           1
72AD1A32018EF02ABEB8EE5F62A98C14           1
E003FE95F1503A676A7E879DB5F07DFB           1
0D739BE6430955B80D495DE97785961A           1
Name: device_no, Length: 135763, dtype: int64
status
3    1520938
Name: status, dtype: int64
pay_time
2020/5/8 0:17       80
2020/5/8 0:24       76
2020/5/8 0:27       72
2020/4/10 0:43      70
2020/4/10 0:33      69
                    ..
2019/12/16 5:41      1
2020/5/10 5:20       1
2019/12/29 14:01     1
2019/10/27 19:56     1
2020/1/18 18:00      1
Name: pay_time, Length: 359726, dtype: int64
post_time
2020/5/8 0:17       80
2020/5/8 0:24       76
2020/5/8 0:27       72
2020/4/10 0:43      70
2020/4/10 0:33      69
                    ..
2019/12/16 5:41      1
2020/5/10 5:20       1
2019/12/29 14:01     1
2019/10/27 19:56     1
2020/1/18 18:00      1
Name: post_time, Length: 359726, dtype: int64
active_pay_count
1       146529
2        94695
3        78796
4        67967
5        59796
         ...
1742         1
1743         1
1744         1
1745         1
1684         1
Name: active_pay_count, Length: 1864, dtype: int64
role_name
随便玩玩        1550
巴巴罗萨        1392
无赖          1391
无聊          1165
阿庆          1122
            ...
龙堡             1
今夜无情           1
囧rz了克里姆        1
13748880       1
12984805       1
Name: role_name, Length: 157695, dtype: int64
dt
2020/4/10    21144
2020/3/13    19216
2020/5/8     16554
2020/3/27    14157
2020/2/28    12776
             ...
C                1
 岚               1
han              1
Cat              1
达哥               1
Name: dt, Length: 341, dtype: int64
isios
0    886720
1    634218
Name: isios, dtype: int64

In [61]:
product_order_all.drop(['order_no', 'd_discount',
       'd_money', 's_discount', 's_money','status','role_name'], axis=1, inplace=True)

In [62]:
product_order_all.columns

Index(['game_id', 'channel_id', 'source_id', 'server_id', 'role_id', 'user_id',
       'pay_type', 'money', 'give_money', 'rmb_money', 'ch_money',
       'coupon_money', 'coupon_code', 'coupon_type', 'pay_count',
       'role_pay_count', 'role_level', 'device_no', 'pay_time', 'post_time',
       'active_pay_count', 'dt', 'isios'],
      dtype='object')

In [63]:
product_order_all['dt'].value_counts()

2020/4/10    21144
2020/3/13    19216
2020/5/8     16554
2020/3/27    14157
2020/2/28    12776
             ...
C                1
 岚               1
han              1
Cat              1
达哥               1
Name: dt, Length: 341, dtype: int64

In [65]:
# 提取付费用户的user_id,作为是否付费target=1
pay_user = pd.DataFrame(product_order_all[['device_no', 'user_id','role_id', 'role_level']],
                        columns=['device_no', 'user_id','role_id', 'role_level'])
pay_user['ispay'] = 1

In [66]:
pay_user.to_csv('./pay_user.csv', index=False)

In [67]:
pay_user.shape

(1520938, 5)