In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from impala.dbapi import connect
from impala.util import as_pandas
import pymysql

In [ ]:
# 获取用户充值数据
def get_user_pay():
    conn = connect(host='192.168.0.88', port=10000, auth_mechanism='PLAIN', user='hadoop',
                    password='Ycjh8FxiaoMtShZRd3-97%3hCEL0CK4ns1w', database='default')
    cursor = conn.cursor()
    sql_engine = 'set hive.execution.engine=tez'
    sql = '''
            SELECT
            a.role_id,
            a.cp_role_id,
            a.user_id,
            a.create_role_time,
            c.money 
        FROM
            dim_game.dim_mwrole_info a
            LEFT JOIN dim_game.dim_mwuser_info b ON a.user_id = b.user_id 
            AND a.game_id = b.game_id
            LEFT JOIN ods_game.ods_product_order c ON a.user_id = c.user_id 
            AND a.role_id = c.role_id 
            AND a.game_id = c.game_id 
        WHERE
            a.create_role_time >= '2021-01-01' 
            AND a.create_role_time <= '2021-05-12' AND c.pay_time >= '2021-01-01' 
            AND c.pay_time <= '2021-05-12' 
            AND b.platform = 1 
            AND a.game_id IN (
                1001433,
                1001464,
                1001465,
                1001466,
                1001469,
                1001473,
                1001485,
                1001488,
                1001489,
                1001491,
                1001492,
                1001493,
                1001494,
                1001500,
                1001545,
                1001602,
                1001607,
                1001619,
                1001624,
                1001625,
                1001626,
                1001628,
                1001629,
                1001630,
                1001631,
                1001608,
                1001634,
                1001635,
                1001636,
                1001646,
                1001647,
                1001648,
                1001652,
                1001655,
            1001658)
    
    '''
    cursor.execute(sql_engine)
    cursor.execute(sql)
    result = as_pandas(cursor)
    
    # 关闭链接
    cursor.close()
    conn.close()
    
    return result['image_id'].values