# 处理prodect_info

In [13]:
import pandas as pd
import numpy as np

In [14]:
product_order = pd.read_csv('./product_order.csv')

In [15]:
pd.set_option('display.max_columns', None)
product_order.head()

,order_no,game_id,channel_id,source_id,server_id,role_id,user_id,pay_type,money,give_money,rmb_money,ch_money,coupon_money,coupon_code,coupon_type,d_discount,d_money,s_discount,s_money,pay_count,role_pay_count,role_level,device_no,status,pay_time,post_time,active_pay_count,role_name,dt
0,H20200608000054360113512288229,1000993,20954,312245,31093,13349431,113512288,27,198.0,0.0,198.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0,70,70,1,A4637B12-48EB-40C9-8DC2-69278519610E,3,2020-06-08 00:01:06,2020-06-08 00:01:06,70,17784730,2020-06-08
1,H20200608000103351105035150113,1000954,20636,273374,26409,11759631,105035150,27,30.0,0.0,30.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0,13,13,0,044BFD6B-4D8C-4201-BC26-9AC948C18114,3,2020-06-08 00:01:25,2020-06-08 00:01:25,13,除了回忆还是那么,2020-06-08
2,H20200608000110301110331926489,1000993,20755,288810,29018,12696414,110331926,27,68.0,0.0,68.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0,136,136,130,8DB1C6BD-91A4-4EE5-BC23-C21922C182D5,3,2020-06-08 00:01:23,2020-06-08 00:01:23,136,16834464,2020-06-08
3,H20200608000151339105115436422,1000954,20176,266291,26437,11774269,105115436,27,30.0,0.0,30.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0,35,35,0,C3EF0A22-6F10-43D0-B4AD-3A4C8196CFD5,3,2020-06-08 00:02:41,2020-06-08 00:02:41,17,海戈,2020-06-08
4,H20200608000232119110319655447,1000993,20144,250625,29008,12694662,110319655,27,68.0,0.0,68.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0,12,12,115,1B9A2C9B-11BD-42CF-AF2E-39AEBDEF5108,3,2020-06-08 00:02:47,2020-06-08 00:02:47,12,16830869,2020-06-08

In [16]:
product_order.shape

(42175, 29)

In [17]:
product_order.drop(['d_discount','game_id',
       'd_money', 's_discount', 's_money','status','role_name'], axis=1, inplace=True)

In [18]:
product_order['user_id'].nunique()

12183

In [19]:
product_order['device_no'].nunique()

12006

# 处理login_info

In [65]:
login_info = pd.read_csv('./login_info.csv') # pay前一周登录信息

In [66]:
login_info.head()

,user_id,role_id,login_time,game_id,role_level,device_no,ip,p_model
0,112131331,149481937,2020-06-01 10:20:11,1001049,89,F6FA4ED0B437A712D882FF0A5046E183,111.52.50.96,1605-A01
1,101748615,141238538,2020-06-01 10:19:27,1000840,160,69A334395275B8F38C46D2BAADD31654,111.113.169.37,PAR-AL00
2,104448650,146453280,2020-06-01 10:20:15,1000840,121,09070BB76C84D18F07EF4F501391BE7F,120.235.35.13,V1814A
3,112798554,150027918,2020-06-01 10:20:06,1001049,87,865ACF46CA03BF50F2FDD3266CBCF7A5,122.96.47.31,vivo X9
4,111199983,148742738,2020-06-01 10:20:14,1000840,122,C1D8B82B72430CD78C838783F872E189,218.205.55.75,V1821A

In [67]:
print(login_info.shape)
print(login_info['device_no'].value_counts())
print(login_info['device_no'].nunique())
print(login_info['user_id'].nunique())
print(login_info['role_id'].nunique())

(4264871, 8)
7E3B9BB8E74C488EB12E5042B7939468        2988
AFAF0E8B-C744-4286-8D53-6EFB44DB1404    1891
4DBF18814514C00E4412701C8051273D        1737
5AC4020A-A289-4BDA-95B0-C41AECE7FAE2    1683
A7237C719A4475D8575CC21419C0167B        1559
                                        ...
85E0D9A6-4569-4768-9638-C66EA54A75E2       1
BB60D446-78AC-4218-819B-11DA9861A83B       1
90CD59EAFD5F763D2FFC32C8FE7EFE33           1
5DE93797-C0C3-4095-A8D6-3C9A79C3FA8B       1
DA685EB78D62B712D1450719A988513B           1
Name: device_no, Length: 219594, dtype: int64
219594
236939
268518

In [68]:
# 将所有登录过的user_id标记为1
login_info['login'] = 1
login_info.drop(['game_id'], axis=1, inplace=True)

In [69]:
# 按uesr_id进行聚合
groups = login_info.groupby(['user_id'])
# user本周登录次数 u1
temp = groups.size().reset_index().rename(columns={0:'u1'})
matrix = pd.merge(login_info, temp, on='user_id', how='left')

In [70]:
# user本周登录的角色数u2
temp = groups['role_id'].agg([('u2', 'nunique')]).reset_index()
matrix = pd.merge(matrix, temp, on='user_id', how='left')
# user本周使用的设备数u3
temp = groups['device_no'].agg([('u3', 'nunique')]).reset_index()
matrix = pd.merge(matrix, temp, on='user_id', how='left')
# user本周使用的ip数u4
temp = groups['ip'].agg([('u4', 'nunique')]).reset_index()
matrix = pd.merge(matrix, temp, on='user_id', how='left')
print(matrix.head())

     user_id    role_id           login_time  role_level  \
0  112131331  149481937  2020-06-01 10:20:11          89
1  101748615  141238538  2020-06-01 10:19:27         160
2  104448650  146453280  2020-06-01 10:20:15         121
3  112798554  150027918  2020-06-01 10:20:06          87
4  111199983  148742738  2020-06-01 10:20:14         122

                          device_no              ip   p_model  login   u1  u2  \
0  F6FA4ED0B437A712D882FF0A5046E183    111.52.50.96  1605-A01      1   21   1
1  69A334395275B8F38C46D2BAADD31654  111.113.169.37  PAR-AL00      1  142   1
2  09070BB76C84D18F07EF4F501391BE7F   120.235.35.13    V1814A      1   51   2
3  865ACF46CA03BF50F2FDD3266CBCF7A5    122.96.47.31   vivo X9      1   56   1
4  C1D8B82B72430CD78C838783F872E189   218.205.55.75    V1821A      1   88   3

   u3  u4
0   1   4
1   2  12
2   1   8
3   1   9
4   1  14

In [71]:
# 登录的时间间隔u5 按小时
import datetime
login_info['login_time'] = pd.to_datetime(login_info['login_time'])
temp = groups['login_time'].agg([('F_time', 'min'), ('L_time', 'max')]).reset_index()
temp['u5'] = round((temp['L_time']-temp['F_time']).dt.seconds/3600, 2)
matrix = pd.merge(matrix, temp[['user_id', 'u5']], on='user_id', how='left')
matrix.head()

,user_id,role_id,login_time,role_level,device_no,ip,p_model,login,u1,u2,u3,u4,u5
0,112131331,149481937,2020-06-01 10:20:11,89,F6FA4ED0B437A712D882FF0A5046E183,111.52.50.96,1605-A01,1,21,1,1,4,19.46
1,101748615,141238538,2020-06-01 10:19:27,160,69A334395275B8F38C46D2BAADD31654,111.113.169.37,PAR-AL00,1,142,1,2,12,20.84
2,104448650,146453280,2020-06-01 10:20:15,121,09070BB76C84D18F07EF4F501391BE7F,120.235.35.13,V1814A,1,51,2,1,8,18.21
3,112798554,150027918,2020-06-01 10:20:06,87,865ACF46CA03BF50F2FDD3266CBCF7A5,122.96.47.31,vivo X9,1,56,1,1,9,20.16
4,111199983,148742738,2020-06-01 10:20:14,122,C1D8B82B72430CD78C838783F872E189,218.205.55.75,V1821A,1,88,3,1,14,22.58

In [72]:
# 角色本周升级数u6
groups = login_info.groupby(['user_id', 'role_id'])
temp = groups['role_level'].agg([('F_level', 'min'), ('L_level', 'max')]).reset_index()
temp['u6'] = temp['L_level']-temp['F_level']
matrix = pd.merge(matrix, temp[['user_id', 'role_id', 'u6']], on=['user_id', 'role_id'], how='left')
matrix.head()

,user_id,role_id,login_time,role_level,device_no,ip,p_model,login,u1,u2,u3,u4,u5,u6
0,112131331,149481937,2020-06-01 10:20:11,89,F6FA4ED0B437A712D882FF0A5046E183,111.52.50.96,1605-A01,1,21,1,1,4,19.46,3
1,101748615,141238538,2020-06-01 10:19:27,160,69A334395275B8F38C46D2BAADD31654,111.113.169.37,PAR-AL00,1,142,1,2,12,20.84,4
2,104448650,146453280,2020-06-01 10:20:15,121,09070BB76C84D18F07EF4F501391BE7F,120.235.35.13,V1814A,1,51,2,1,8,18.21,3
3,112798554,150027918,2020-06-01 10:20:06,87,865ACF46CA03BF50F2FDD3266CBCF7A5,122.96.47.31,vivo X9,1,56,1,1,9,20.16,6
4,111199983,148742738,2020-06-01 10:20:14,122,C1D8B82B72430CD78C838783F872E189,218.205.55.75,V1821A,1,88,3,1,14,22.58,6

# 处理role_info

In [73]:
role_info = pd.read_csv('./role_info.csv')

In [74]:
role_info.shape

(125960, 7)